* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

.container {
  height: 800px;
  width: 1260px;
  position: relative;
  padding: 0 50px;
  /* overflow: hidden; */
}

#imgMain {
  width: 30%;
  position: absolute;
  right: 0px;
  top: 150px;
  /* height: 40%; */
}

#navbarMonstera {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 80px;
  width: 100%;
  margin-top: 50px;
  font-family: "Allerta", sans-serif;
  font-size: 22px;
}
#navFirst img {
  width: 100px;
}
#navMid {
  display: flex;
  justify-content: space-between;
  color: #141415;
  font-size: 16px;
}

.navMid-item {
  position: relative;
}

/* .active {
  color: black;
  position: relative;
} */

.active::after {
  content: "";
  height: 2px;
  width: 50px;
  bottom: 0px;
  left: 30px;
  background-color: black;
  position: absolute;
}
#navMid > div {
  padding: 5px 30px;
}

#navEnd {
  display: flex;
  justify-content: center;
}

#navEnd-item {
  padding: 10px 25px;
}

#midWholePart11 {
  margin-top: 50px;
  width: 650px;
  margin-bottom: 30px;
}

#monstera {
  font-size: 88px;
  font-family: "Allerta", sans-serif;
}

.hero-description-1 {
  font-family: "Georgia, serif";
  font-size: 22px;
}
.big_button {
  background-color: rgb(22, 95, 22);
  color: white;
  font-size: 25px;
  border-radius: 25px;
  padding: 10px 30px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.big_button span {
  display: block;
}
.big_button img {
  /* display: inline; */
  margin-left: 7px;
  width: 14px;
}
.midWholePart13 {
  /* border: 2px solid red; */
  margin-top: 30px;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.midWholePart13Parts {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.midWholePart13Parts .text {
  font-size: 11px;
  font-weight: 300px;
}
.midWholePart13Parts img {
  width: 60px;
}
#care,
#light {
  width: 60px;
}
